FORM {
    display: inline;
}
body{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    padding: 0;
    /*background-color: yellow;*/
}

.container-fluid{
    flex: 1;
}

table {
    table-layout: fixed;
    width:100%
}
td {
    word-wrap:break-word;
}